@charset 'utf-8';
body,
html {
    font-family: Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.shortcut {
    width: 100%;
    font-size: 12px;
    background-color: #2e2828;
    height: 36px;
    padding: 0;
    .row {
        width: 1200px;
        margin: 0 auto;
        ul {
            list-style: none;
            li {
                height: 35px;
                line-height: 35px;
                margin: 0;
                a {
                    display: inline;
                    padding: 0 8px;
                    color: #afafaf;
                }
                a:hover {
                    background-color: #2e2828;
                    color: white;
                }
                span {
                    color: #414141;
                }
            }
            li:first-child {
                a {
                    padding: 0 8px 0 0;
                }
            }
        }
        .left {
            float: left;
            padding: 0;
        }
        .right {
            float: right;
            padding: 0;
        }
    }
}

.header {
    padding: 18px 0 15px;
    width: 100%;
    .row {
        width: 1200px;
        margin: 0 auto;
        .left {
            float: left;
            padding: 0;
            .logo {
                float: left;
                margin-right: 34px;
                img {
                    width: 205px;
                    height: 36px;
                }
            }
            ul {
                float: left;
                height: 40px;
                li {
                    margin-right: 24px;
                    img {
                        width: 74px;
                        height: 24px;
                        margin-bottom: 7px;
                    }
                    a {
                        color: #333;
                        font-size: 16px;
                        padding: 0px;
                        line-height: 40px;
                    }
                }
            }
        }
        .right {
            float: right;
            padding: 0;
            input {
                width: 205px;
                height: 30px;
                border-right: none;
                border-radius: 16px 0 0 16px;
                background-color: #f0f0f0;
            }
            .right {
                width: 35px;
                height: 30px;
                padding-right: 10px;
                border-left: none;
                .btn {
                    margin: 0;
                    padding: 3.8px 10px 3.8px 0px;
                    border-left: none;
                    border-radius: 0 16px 16px 0;
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

// 头部样式
#top,
#header {
    width: 100%;
    background-color: #2e2828;
}

// 版心
.top_content,
.header_content,
.nav_main,
.home_channel {
    width: 1200px;
    margin: 0 auto;
}

//  头部公共结构 
$height:36px;
.top_content {
    height: $height;
    .left_content {
        width: 547px;
        height: $height;
        float: left;
    }
    .right_content {
        width: 472.7px;
        height: 36px;
        // background-color: rgb(27, 64, 75);
        float: right;
        em {
            font-style: normal;
        }
        .bigul li:last-of-type {
            padding-right: 7px;
        }
    }
}

.bigul .bigul_li {
    height: 36px;
    line-height: 36px;
    float: left;
    padding: 0 8px;
    position: relative;
    a:hover {
        color: white;
    }
    a {
        font-size: 12px;
        color: #afafaf;
    }
    span {
        font-size: 12px;
        color: #afafaf;
        cursor: pointer;
        padding-left: 4px;
    }
}

.small_li {
    line-height: 20px;
}

.bigul {
    li::before {
        content: "";
        width: 1px;
        height: 10px;
        position: absolute;
        top: 13px;
        left: -1px;
        background: #414141;
        ;
    }
    li:nth-of-type(1) {
        padding-left: 0;
    }
    li:nth-of-type(1)::before {
        width: 0px;
    }
}

.dropmenu:hover {
    background: white;
    span {
        color: #ca141d;
    }
    dl {
        display: block;
    }
}

.dropmenu dl {
    display: none;
    position: absolute;
    top: 36px;
    right: 0px;
    background-color: white;
    font-size: 12px;
    color: #777;
    z-index: 99;
    a:hover {
        color: #ca141d;
    }
}

.dropmenu {
    .hid_box1 {
        width: 119px;
        text-align: center;
    }
    .hid_box2 {
        width: 84px;
        text-align: center;
    }
    .hid_box3 {
        width: 893px;
    }
    .hid_box4 {
        width: 244px;
    }
    .hid_box5 {
        padding: 50px 0;
        text-align: center;
        width: 460px;
        height: 92px;
    }
}

.hid_box3 ul {
    li {
        width: 140px;
        float: left;
        margin: 20px 0 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .box3_01 {
            width: 60px;
            height: 60px;
            background: rgb(238, 238, 238);
            border-radius: 30px;
            margin: auto;
            display: flex;
            i {
                margin: auto;
                font-size: 30px;
            }
        }
        .box3_02 {
            margin: auto;
        }
        p {
            font-size: 16px;
            font-weight: 700;
            color: #2e2828;
        }
        .box3_03 {
            width: 100%;
            .box03_l {
                float: left;
                margin-right: 10px;
            }
            .box03_r {
                float: left;
            }
            em {
                display: block;
                color: rgb(95, 95, 95);
                margin-top: 4px;
            }
        }
    }
    li::before {
        width: 0;
    }
}

.hid_box4 dt {
    margin-top: 10px;
    width: 244px;
    height: 100px;
}

.hid_box4 dt .part1 {
    padding-left: 18px;
    img {
        width: 90px;
        height: 90px;
        margin-right: 12px;
        float: left;
    }
}

.hid_box4 dt .part2 {
    width: 100px;
    height: 90px;
    float: left;
}

.hid_box4 dt .part2 {
    line-height: 16px;
    p {
        line-height: 16px;
        color: #ca141d;
    }
    span {
        color: #414141;
    }
}

.part2 p:first-child {
    font-size: 14px;
    font-weight: bolder;
    color: #2e2828 !important;
}

.hid_box5 div .iconfont {
    font-size: 70px;
    color: #777;
    position: absolute;
    top: 34px;
    left: 10px;
}

.hid_box5 div {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
}

// header部分
#header {
    background-color: #fff;
    padding: 18px 0 15px 0;
}

.header_content {
    height: 41px;
}

.left_header {
    width: 754px;
    height: 41px;
    float: left;
    .txt2 {
        width: 86px !important;
    }
    .txt3 {
        width: 64px !important;
    }
}

.right_header {
    width: 240px;
    height: 36px;
    // background: yellowgreen;
    float: right;
    .searchbox {
        width: 240px;
        height: 30px;
        border-radius: 15px;
        overflow: hidden;
        margin-top: 3px;
        background: #eee;
        input {
            width: 185px;
            height: 30px;
            padding-left: 20px;
            background: #eee;
            border: 0;
            outline: none;
        }
    }
    .searchbox:hover {
        border: 1px solid #ccc;
    }
}

.left_header {
    div {
        float: left;
    }
    .pic1 {
        width: 205px;
        height: 41px;
        margin-right: 32px;
        img {
            height: 36px;
        }
    }
    .pic2,
    .pic3 {
        width: 74px;
        height: 24px;
        margin: 7px 24px 0 0;
    }
    .txt1,
    .txt2,
    .txt3 {
        width: 103px;
        margin-right: 20px;
        height: 40px;
        line-height: 40px;
        span {
            height: 17px;
            color: #333;
            font-size: 16px;
        }
         :hover {
            color: #ca141d;
        }
    }
}

@mixin bannerleftmeun() {
    .piece1 {
        width: 242px;
        height: 440px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2 {
            width: 240px;
            height: 60px;
            margin-bottom: 5px;
            img {
                width: 44px;
                height: 46px;
                float: left;
                padding: 8px;
            }
            span {
                font-size: 16px;
                line-height: 60px;
                height: 60px;
                color: #666;
                font-weight: normal;
                display: block;
                float: left;
            }
        }
        h2:hover {
            background: rgb(240, 240, 240);
            border-radius: 8px;
        }
        .box01 {
            width: 140px;
            height: 40px;
            border: 1px solid #dfdfdf;
            border-radius: 20px;
            h4 {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                border: 1px solid #dfdfdf;
                border-top: 0;
                border-left: 0;
                border-bottom: 0;
                float: left;
                color: #666;
                position: relative;
                i {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
            }
            h5 {
                float: left;
                color: #999;
                font-size: 13px;
                height: 40px;
                line-height: 40px;
                padding-left: 20px;
            }
        }
    }
}


/*channel-list banner图下方精灵图定位*/

@mixin picposition($x:0px) {
    p {
        width: 40px;
        height: 40px;
        margin-left: 22px;
        overflow: hidden;
        background: url("https://res.vmallres.com/pimages//squaredInfo/icon/5/32b46fe090fcab93c1459eae921a2119.png") no-repeat;
        background-position-x: $x;
        background-size: 740%;
    }
    span {
        width: 84px;
        display: inline-block;
        font-size: 14px;
        color: #777;
        text-align: center;
    }
}


/*轮播图样式*/

#nav_main {
    height: 520px;
    position: relative;
    .banner {
        width: 100%;
        height: 520px;
        overflow: hidden;
        border-radius: 0 0 90px 90px;
        position: absolute;
        .pictu_box {
            width: 100%;
            li {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                img {
                    height: 520px;
                }
            }
        }
        .btn_box {
            width: 140px;
            height: 20px;
            position: absolute;
            bottom: 54px;
            right: 64px;
            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #ccc;
                float: left;
                margin: 2px;
            }
            li.active {
                background-color: #fff;
            }
        }
        .arrow {
            position: absolute;
            font-size: 60px;
            top: 35%;
            color: #fff;
        }
        .spanleft {
            left: 300px;
        }
        .spanright {
            right: 134px;
        }
    }
}


/* 导航nav*/

$w:200px;
.nav_main {
    .nav {
        width: $w;
        position: absolute;
        top: 18px;
        font-size: 16px;
        .nav_li {
            position: relative;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.95);
            box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
            li:hover {
                background: #ffffff;
                border-radius: 10px 0 0 10px;
                background-color: rgba(255, 255, 255, 0.95);
                box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
                >div {
                    display: block;
                }
            }
        }
        .nav_li li {
            width: $w;
            height: 44px;
            >div {
                width: 484px;
                padding-left: 32px;
                position: absolute;
                top: 0px;
                left: $w;
                background: #fff;
                display: none;
            }
            .part_0 {
                width: 726px;
                @include bannerleftmeun();
            }
            .part_1 {
                width: 484px;
                @include bannerleftmeun();
            }
            .part_2 {
                width: $w;
                height: 440px;
            }
            p {
                color: #848484;
                ;
                width: 184px;
                line-height: 24px;
                padding: 10px 0 0 16px;
                position: relative;
                span:first-child:hover {
                    color: #ca141d;
                }
                span:last-child {
                    position: absolute;
                    top: 8px;
                    right: 15px;
                    font-size: 20px;
                }
            }
        }
    }
}


/*channel-list 包括会员频道+公告等内容*/

.channel-list {
    width: 1200px;
    height: 88px;
    background-color: #fff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: -50px;
    .smallchannel {
        width: 1200px;
        height: 88px;
        .left_channel {
            width: 271px;
            height: 55px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            margin-top: 16px;
            float: left;
            padding-left: 26px;
            .lf {
                img {
                    width: 52px;
                    height: 52px;
                    margin-right: 17px;
                    float: left;
                }
            }
            .rt {
                width: 150px;
                height: 50px;
                // background: rgb(214, 238, 175);
                float: left;
                .top {
                    color: #999;
                    font-size: 14px;
                    a {
                        color: #333;
                    }
                    a:hover {
                        color: #ca141d;
                    }
                }
                .bot {
                    margin-top: 3px;
                    span {
                        width: 68px;
                        height: 22px;
                        border: 1px solid #ca141d;
                        margin-right: 8px;
                        font-size: 14px;
                        border-radius: 3px;
                    }
                    .one {
                        a {
                            color: #ca141d;
                        }
                        a:hover {
                            background: #ca141d;
                            color: #fff;
                        }
                    }
                    .two {
                        border: 1px solid rgb(89, 84, 84);
                        a {
                            color: rgb(253, 228, 179);
                            background: rgb(89, 84, 84);
                        }
                        a:hover {
                            background: rgb(73, 70, 70);
                        }
                    }
                }
            }
        }
        .mid_channel {
            width: 660px;
            height: 64px;
            margin-top: 11px;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div {
                width: 84px;
                height: 64px;
            }
            div:hover span {
                color: #ca141d;
            }
            .channel-1 {
                @include picposition(0px);
            }
            .channel-2 {
                @include picposition(-40px);
            }
            .channel-3 {
                @include picposition(-79px);
            }
            .channel-4 {
                @include picposition(-120px);
            }
            .channel-5 {
                @include picposition(-159px);
            }
            .channel-6 {
                @include picposition(-198px);
            }
        }
        .right_channel {
            width: 267px;
            height: 88px;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            float: left;
            .news {
                width: 100%;
                height: 32px;
                color: #333;
                padding-top: 12px;
                padding-left: 20px;
                .huodong {
                    font-size: 14px;
                    color: #666;
                }
            }
            .newsdown {
                width: 100%;
                height: 43px;
                border-top: 1px solid #ccc;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .news01 {
                    width: 85px;
                    height: 43px;
                    // background: slateblue;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    u {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        // background: thistle;
                        margin-right: 4px;
                        background: url("https://res.vmallres.com/pimages//squaredInfo/icon/5/32b46fe090fcab93c1459eae921a2119.png") no-repeat;
                        background-size: 1299%;
                        background-position-x: -206px;
                        background-position-y: 2px;
                    }
                    em {
                        font-size: 12px;
                        font-style: normal;
                    }
                }
            }
        }
    }
}

//  home-channel-menu 
#home_channel {
    width: 100%;
    margin-top: 66px;
    .home_channel {
        // background-color: rgb(204, 134, 134);
        ul {
            width: 1200px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                width: 290px;
                height: 200px;
                background: yellowgreen;
            }
            li:hover {
                box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
                transition: all .2s linear 0s;
                ;
            }
        }
    }
}


/*轮播图以下标题公共样式*/

@mixin titlestyle() {
    .title {
        line-height: 1px;
        h2 {
            margin: 0;
            padding: 27px 0 13px;
            font-size: 26px;
            font-weight: 400;
            color: #333;
        }
    }
}


/*这是渲染图片的公共结构*/

@mixin name() {
    text-decoration: none;
    .phone01 {
        width: 230px;
        height: 150px;
        margin-top: 35px;
        img {
            display: block;
            width: 150px;
            height: 150px;
            margin-left: 40px;
        }
    }
    p:nth-of-type(1) {
        width: 210px;
        height: 21px;
        margin: 12px 10px 0 10px;
        font-size: 14px;
        font-weight: 400;
        color: #3a3a3a;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p:nth-of-type(2) {
        width: 170px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 18px;
        padding: 0 10px;
        margin: 2px 20px 0 20px;
        font-size: 12px;
        font-weight: 400;
        color: #777;
        text-align: center;
    }
    p:nth-of-type(3) {
        width: 190px;
        height: 21px;
        margin: 0 20px;
        font-size: 14px;
        font-weight: 400;
        color: #ca141d;
        text-align: center;
    }
}


/*热销单品salebox*/

.salebox {
    width: 1200px;
    margin: auto;
    @include titlestyle();
    .salepic {
        width: 100%;
        height: 604px;
        li:hover {
            box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
            transition: all .2s linear 0s;
            text-emphasis: none;
        }
        .salepic_lf {
            width: 232px;
            height: 604px;
            float: left;
            img {
                border-radius: 10px;
            }
            img:hover {
                box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
                transition: all .2s linear 0s;
            }
        }
        .salepic_rt {
            width: 968px;
            height: 604px;
            float: left;
            .salepic_ul {
                li {
                    width: 230px;
                    height: 290px;
                    border-radius: 10px;
                    background: #f9f9f9;
                    margin: 0 0 12px 12px;
                    float: left;
                    a {
                        @include name();
                    }
                }
            }
        }
    }
}

@mixin fivebox($top:140px) {
    .recommend_list {
        width: 1200px;
        height: 311px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                width: 230px;
                height: 295px;
                a {
                    text-decoration: none;
                    cursor: pointer;
                }
                a:hover {
                    color: #666666;
                }
                .recommend_box {
                    width: 230px;
                    height: 205px;
                    border-radius: 10px;
                    border: 0;
                    padding-top: 36px;
                    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
                    margin-bottom: 30px;
                    p:nth-of-type(1) {
                        width: 150px;
                        height: 150px;
                        margin: 0 40px 9px 40px;
                    }
                    p:nth-of-type(2) {
                        width: 230px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        height: 36px;
                        border-radius: 0 0 10px 10px;
                        background: rgb(243, 243, 245);
                        padding: 0 10px;
                        font-size: 14px;
                        line-height: 36px;
                        text-align: center;
                        color: #777;
                    }
                }
                p:nth-of-type(1) {
                    width: 230px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                }
                p:nth-of-type(2) {
                    width: 230px;
                    height: 18px;
                    color: #d0021b;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                    line-height: 18px;
                }
            }
        }
    }
    .goods_next {
        width: 36px;
        height: 72px;
        background: rgba(0, 0, 0, 0.05);
        position: absolute;
        right: 5px;
        top: $top;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px 0 0 8px;
        i {
            span {
                padding: 0 7px;
            }
        }
    }
    .goods_next:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}


/*精品推荐 recommendgoods*/

.recommendgoods {
    width: 1200px;
    margin: auto;
    position: relative;
    @include titlestyle();
    @include fivebox(140px);
}


/* 第二个轮播图 smallbanner*/

#smallbanner {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    .smallbanner {
        position: relative;
        height: 120px;
        padding: 30px 0 10px 0;
        ol {
            position: absolute;
            right: 10px;
            top: 76%;
            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #fff;
                float: left;
                margin: 3px;
                cursor: pointer;
            }
            li.active {
                background: #fff;
            }
        }
        ul {
            li {
                position: absolute;
                top: 26px;
                left: 0;
                opacity: 0;
                height: 120px;
                border-radius: 8px;
                overflow: hidden;
            }
        }
    }
}


/*渲染部分的大标题公共样式 ，例如手机，智能家居那块*/

@mixin sametitle() {
    h2 {
        font-size: 26px;
        font-weight: 400;
        color: #333;
        line-height: 32px;
        float: left;
    }
    .title_1 {
        width: 950px;
        height: 32px;
        padding-left: 28px;
        // background: peachpuff;
        float: left;
        display: flex;
        flex: row;
        justify-content: space-around;
        li {
            height: 32px;
            float: left;
            a {
                font-size: 14px;
                color: #999;
                line-height: 32px;
                text-decoration: none;
            }
        }
        li:hover a {
            color: #ca141d;
        }
    }
    .title_2 {
        width: 98px;
        height: 32px;
        // background: rgb(185, 255, 222);
        float: right;
        text-align: right;
        line-height: 32px;
        font-size: 14px;
        a {
            color: #333;
            text-decoration: none;
        }
        a:hover .watchmore {
            color: #ca141d;
        }
    }
}


/* 手机 phone渲染部分*/

#phonebox {
    width: 100%;
    .phonebox {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            min-height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
            ul,
            .title_2 {
                margin-top: 18px;
            }
        }
        /*渲染样式*/
        .phonelist {
            padding-top: 52px;
            ul {
                // background: darkorange;
                overflow: hidden; //清浮动
                zoom: 1;
                li {
                    width: 230px;
                    height: 290px;
                    border-radius: 10px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 0 10px 10px;
                }
            }
        }
    }
}


/*手机phone渲染样式*/

.phonelist>ul>li>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/* 笔记本 laptop渲染部分*/

#laptopbox {
    width: 100%;
    .laptopbox {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            min-height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
            ul,
            .title_2 {
                margin-top: 18px;
            }
        }
        /*渲染样式*/
        .laptoplist {
            padding-top: 52px;
            ul {
                // background: darkorange;
                overflow: hidden; //清浮动
                zoom: 1;
                li {
                    width: 230px;
                    height: 290px;
                    border-radius: 10px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 0 10px 10px;
                }
            }
        }
    }
}


/*笔记本laptop 渲染样式*/

.laptoplist>ul>li>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/* 平板 pad 渲染部分*/

#padbox {
    width: 100%;
    .padbox {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            min-height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
            ul,
            .title_2 {
                margin-top: 18px;
            }
        }
        /*渲染样式*/
        .padlist {
            padding-top: 52px;
            ul {
                // background: darkorange;
                overflow: hidden; //清浮动
                zoom: 1;
                li {
                    width: 230px;
                    height: 290px;
                    border-radius: 10px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 0 10px 10px;
                }
            }
        }
    }
}


/* 平板 pad 渲染样式*/

.padlist>ul>li>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/*智能穿戴*/

#watchbox {
    width: 100%;
    .watchbox {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
        }
        ul,
        .title_2 {
            margin-top: 18px;
        }
        /*渲染样式*/
        .smarttop {
            ul {
                width: 1200px;
                overflow: hidden; //清浮动
                zoom: 1;
                .normalpic {
                    width: 230px;
                    height: 290px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 10px 10px 0;
                }
                .bigpic {
                    width: 470px;
                    height: 290px;
                    float: left;
                    margin: 0 10px 10px 0;
                }
            }
        }
        .smartbottom {
            position: relative;
            @include fivebox(70px);
        }
    }
}

.smarttop>ul>.normalpic>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/*智能家居*/

#smarthome {
    width: 100%;
    .smarthome {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
        }
        ul,
        .title_2 {
            margin-top: 18px;
        }
        /*渲染样式*/
        .smarttop {
            ul {
                width: 1200px;
                overflow: hidden; //清浮动
                zoom: 1;
                .normalpic {
                    width: 230px;
                    height: 290px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 10px 10px 0;
                }
                .bigpic {
                    width: 470px;
                    height: 290px;
                    float: left;
                    margin: 0 10px 10px 0;
                }
            }
        }
        .smartbottom {
            position: relative;
            @include fivebox(70px);
        }
    }
}

.smarttop>ul>.normalpic>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/*热销配件*/

#mountings {
    width: 100%;
    .mountings {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
        }
        ul,
        .title_2 {
            margin-top: 18px;
        }
        /*渲染样式*/
        .smarttop {
            ul {
                width: 1200px;
                overflow: hidden; //清浮动
                zoom: 1;
                .normalpic {
                    width: 230px;
                    height: 290px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 10px 10px 0;
                }
                .bigpic {
                    width: 470px;
                    height: 290px;
                    float: left;
                    margin: 0 10px 10px 0;
                }
            }
        }
        .smartbottom {
            position: relative;
            @include fivebox(70px);
        }
    }
}

.smarttop>ul>.normalpic>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/*生态精品*/

#life {
    width: 100%;
    .life {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
        }
        ul,
        .title_2 {
            margin-top: 18px;
        }
        /*渲染样式*/
        .smarttop {
            ul {
                width: 1200px;
                overflow: hidden; //清浮动
                zoom: 1;
                .normalpic {
                    width: 230px;
                    height: 290px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 10px 10px 0;
                }
                .bigpic {
                    width: 470px;
                    height: 290px;
                    float: left;
                    margin: 0 10px 10px 0;
                }
            }
        }
    }
}

.smarttop>ul>.normalpic>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}


/*精品配件*/

#mountings2 {
    width: 100%;
    .mountings2 {
        width: 1200px;
        margin: 0 auto;
        .sametitle {
            width: 100%;
            height: 32px;
            padding: 27px 0 12px 0;
            @include sametitle();
        }
        ul,
        .title_2 {
            margin-top: 18px;
        }
        /*渲染样式*/
        .smarttop {
            ul {
                width: 1200px;
                overflow: hidden; //清浮动
                zoom: 1;
                .normalpic {
                    width: 230px;
                    height: 290px;
                    background: #f9f9f9;
                    float: left;
                    margin: 0 10px 10px 0;
                }
                .bigpic {
                    width: 470px;
                    height: 290px;
                    float: left;
                    margin: 0 10px 10px 0;
                }
            }
        }
    }
}

.smarttop>ul>.normalpic>a {
    width: 230px;
    height: 290px;
    display: block;
    @include name();
}

#footer {
    margin-top: 10px;
    width: 100%;
    background: #f5f5f5;
    height: 407px;
    .footer {
        width: 1200px;
        margin: 0 auto;
        .slogan {
            width: 1200px;
            height: 82px;
            padding: 22px 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            ul {
                width: 1200px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li:nth-of-type(1) {
                    height: 40px;
                    padding-right: 120px;
                    margin: 0;
                    float: left;
                    a {
                        font-size: 18px;
                        color: #3a3a3a;
                        text-decoration: none;
                        font-weight: 400;
                        padding-bottom: 10px;
                        font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            width: 40px;
                            height: 40px;
                            margin-right: 5px;
                            background: url(../img/index/icon/icon01.svg) no-repeat;
                            background-position: -74px 0;
                        }
                    }
                }
                li:nth-of-type(2) {
                    height: 40px;
                    padding-right: 120px;
                    margin: 0;
                    float: left;
                    a {
                        font-size: 18px;
                        color: #3a3a3a;
                        text-decoration: none;
                        font-weight: 400;
                        padding-bottom: 10px;
                        font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            width: 40px;
                            height: 40px;
                            margin-right: 5px;
                            background: url(../img/index/icon/icon01.svg) no-repeat;
                            background-position: -154px 0;
                        }
                    }
                }
                li:nth-of-type(3) {
                    height: 40px;
                    padding-right: 120px;
                    margin: 0;
                    float: left;
                    a {
                        font-size: 18px;
                        color: #3a3a3a;
                        text-decoration: none;
                        font-weight: 400;
                        padding-bottom: 10px;
                        font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            width: 40px;
                            height: 40px;
                            margin-right: 5px;
                            background: url(../img/index/icon/icon01.svg) no-repeat;
                            background-position: -194px 0;
                        }
                    }
                }
                li:nth-of-type(4) {
                    height: 40px;
                    margin: 0;
                    float: left;
                    a {
                        font-size: 18px;
                        color: #3a3a3a;
                        text-decoration: none;
                        font-weight: 400;
                        padding-bottom: 10px;
                        font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            width: 40px;
                            height: 40px;
                            margin-right: 5px;
                            background: url(../img/index/icon/icon01.svg) no-repeat;
                            background-position: -114px 0;
                        }
                    }
                }
            }
        }
        .service {
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 23px 0 24px;
            width: 1200px;
            margin: 0 auto;
            height: 221px;
            .lf {
                width: 910px;
                height: 155px;
                padding-top: 5px;
                border-right: 1px solid #e5e5e5;
                float: left;
                ul {
                    li {
                        width: 16.6%;
                        float: left;
                        height: 136px;
                        p {
                            font-size: 14px!important;
                            padding-bottom: 7px;
                            color: #333;
                            display: block;
                            border-left: none;
                            padding-left: 0;
                            line-height: 1.5!important;
                            margin-bottom: 0!important;
                        }
                        a {
                            display: block;
                            line-height: 22px;
                            color: #777;
                            text-decoration: none;
                        }
                        a:hover {
                            color: #ca141d;
                        }
                    }
                }
            }
            .rt {
                width: 278px;
                min-height: 160px;
                margin-top: 2px;
                text-align: center;
                float: left;
                dl {
                    dt {
                        p {
                            font-size: 24px!important;
                            padding: 0;
                            color: #575757;
                            font-weight: bold;
                        }
                    }
                    dd {
                        line-height: 22px;
                        color: #777;
                        font-size: 14px;
                    }
                    .btn {
                        display: block;
                        width: 170px;
                        height: 34px;
                        padding: 0;
                        margin: 0 auto;
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 25px;
                        background: #333;
                        cursor: pointer;
                        border-radius: 17px;
                        color: #fff;
                        font-weight: 200;
                        i {
                            content: "";
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            margin-right: 6px;
                            vertical-align: middle;
                            background: url(../img/index/icon/icon03.svg) no-repeat;
                            background-position: -106px 0;
                        }
                    }
                }
                .code {
                    h2 {
                        font-size: 14px;
                    }
                    a:nth-of-type(1) {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        text-indent: -999px;
                        overflow: hidden;
                        background: url(../img/index/icon/icon03.svg) no-repeat;
                        background-position: -126px 0;
                        margin-left: 3px;
                        vertical-align: bottom;
                    }
                    a:nth-of-type(2) {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        text-indent: -999px;
                        overflow: hidden;
                        background: url(../img/index/icon/icon03.svg) no-repeat;
                        background-position: -150px 0;
                        margin-left: 3px;
                        vertical-align: bottom;
                    }
                    a:nth-of-type(3) {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        text-indent: -999px;
                        overflow: hidden;
                        background: url(../img/index/icon/icon03.svg) no-repeat;
                        background-position: -174px 0;
                        margin-left: 3px;
                        vertical-align: bottom;
                    }
                    a:nth-of-type(4) {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        text-indent: -999px;
                        overflow: hidden;
                        background: url(../img/index/icon/icon03.svg) no-repeat;
                        background-position: -198px 0;
                        margin-left: 3px;
                        vertical-align: bottom;
                    }
                    a:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
        .footer2 {
            padding: 25px 0 28px;
            width: 1200px;
            margin: 0 auto;
            color: #666;
            line-height: 1.5;
            .footer-warrant {
                text-align: left;
                color: #a4a4a4;
                line-height: 20px;
                p {
                    padding: 3px 20px 0 0;
                    float: left;
                    a {
                        display: block;
                        img {
                            vertical-align: top;
                            width: 82px;
                            height: 20px;
                        }
                    }
                }
                .fl {
                    width: 740px;
                    height: 61px;
                    float: left;
                    ul {
                        margin-top: 3px;
                        margin-bottom: 6px;
                        display: block;
                        width: 740px;
                        height: 12px;
                        li {
                            float: left;
                            line-height: 1;
                            padding-right: 6px;
                            border-right: 1px solid #d3d3d3;
                            margin-right: 6px;
                        }
                    }
                }
                .fr {
                    margin-top: 2px;
                    float: right;
                    img {
                        vertical-align: top;
                        width: 70px;
                        height: 24px;
                    }
                }
            }
        }
    }
}