@charset 'utf-8';
body,
html {
    font-family: Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.shortcut {
    width: 100%;
    font-size: 12px;
    background-color: #2e2828;
    height: 36px;
    padding: 0;
    .row {
        width: 1200px;
        margin: 0 auto;
        ul {
            list-style: none;
            li {
                height: 35px;
                line-height: 35px;
                margin: 0;
                a {
                    display: inline;
                    padding: 0 8px;
                    color: #afafaf;
                }
                a:hover {
                    background-color: #2e2828;
                    color: white;
                }
                span {
                    color: #414141;
                }
            }
            li:first-child {
                a {
                    padding: 0 8px 0 0;
                }
            }
        }
        .left {
            float: left;
            padding: 0;
        }
        .right {
            float: right;
            padding: 0;
        }
    }
}

.header {
    padding: 18px 0 15px;
    width: 100%;
    .row {
        width: 1200px;
        margin: 0 auto;
        .left {
            float: left;
            padding: 0;
            .logo {
                float: left;
                margin-right: 34px;
                img {
                    width: 205px;
                    height: 36px;
                }
            }
            ul {
                float: left;
                height: 40px;
                li {
                    margin-right: 24px;
                    img {
                        width: 74px;
                        height: 24px;
                        margin-bottom: 7px;
                    }
                    a {
                        color: #333;
                        font-size: 16px;
                        padding: 0px;
                        line-height: 40px;
                    }
                }
            }
        }
        .right {
            float: right;
            padding: 0;
            input {
                width: 205px;
                height: 30px;
                border-right: none;
                border-radius: 16px 0 0 16px;
                background-color: #f0f0f0;
            }
            .right {
                width: 35px;
                height: 30px;
                padding-right: 10px;
                border-left: none;
                .btn {
                    margin: 0;
                    padding: 3.8px 10px 3.8px 0px;
                    border-left: none;
                    border-radius: 0 16px 16px 0;
                    background-color: #f0f0f0;
                }
            }
        }
    }
}