@charset 'utf-8';
* {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

b,
strong {
    font-weight: 500;
}

a,
u {
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    font-size: 16px;
}

#header {
    height: 48px;
    background-color: #f2f2f2;
    .contain {
        width: 1200px;
        margin: 0 auto;
        .logo {
            float: left;
            margin-top: 10px;
            img {
                width: 108px;
                height: 24px;
            }
        }
        .title {
            float: left;
            margin-left: 10px;
            .split-line {
                color: #c2c2c2;
                line-height: 28px;
            }
            .headtitle {
                line-height: 48px;
                margin-left: 10px;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

#contain {
    height: calc(100% - 158px);
    width: 1200px;
    margin: 0 auto;
    .header {
        height: 221px;
        padding: 100px 0px 80px;
        text-align: center;
        span {
            font-size: 32px;
            font-weight: 400;
        }
    }
    .left-aside {
        float: left;
        margin-left: 140px;
        .contain {
            width: 360px;
            height: 274px;
            overflow: hidden;
            .qrcode {
                background-color: #f7f7f7;
                border-radius: 8px;
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }
        }
        span {
            vertical-align: bottom;
            color: #838383;
            font-size: 12px;
            line-height: 114px;
            text-indent: 2em;
        }
    }
    #right-aside {
        float: left;
        .login {
            float: left;
            width: 360px;
            height: 250px;
            margin-left: 65px;
            div {
                width: 360px;
                height: 50px;
                border-radius: 8px;
                span {
                    display: none;
                }
                input {
                    background-color: #f7f7f7;
                    border: none;
                    border-radius: 8px;
                    font-size: 16px;
                }
            }
            .d2 {
                margin-top: 30px;
            }
            span {
                display: block;
                margin-top: 20px;
                color: #007dff;
                font-size: 16px;
                cursor: pointer;
            }
            .btn {
                margin-top: 40px;
                background-color: #CA141D;
                color: white;
                font-size: 18px;
                width: 360px;
                height: 47px;
                cursor: pointer;
                border-radius: 10px;
            }
        }
        ul:nth-child(odd) {
            display: inline-block;
            margin-top: 40px;
            margin-left: 75px;
            li:nth-child(odd) {
                color: #007dff;
            }
            li:nth-child(even) {
                color: #c2c2c2;
            }
        }
        ul:nth-child(even) {
            display: inline-block;
            margin-top: 30px;
            margin-left: 25px;
            img {
                width: 40px;
                height: 40px;
                margin-left: 30px;
            }
            li {
                cursor: pointer;
            }
        }
    }
}

#footer {
    height: 110px;
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 20px;
    ul {
        text-align: center;
        margin-top: 10px;
        li:nth-child(odd)>a {
            color: black;
        }
        .hr {
            color: #c2c2c2;
        }
    }
    p {
        line-height: 10px;
        text-align: center;
        color: #b7b7b7;
    }
}