* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

// 头部样式
#top,
#header {
    width: 100%;
    background-color: #2e2828;
}

// 版心
.top_content,
.header_content,
.nav_main,
.home_channel {
    width: 1200px;
    margin: auto;
}

//  头部公共结构 
$height:36px;
.top_content {
    height: $height;
    .left_content {
        width: 547px;
        height: $height;
        float: left;
    }
    .right_content {
        width: 472.7px;
        height: 36px;
        // background-color: rgb(27, 64, 75);
        float: right;
        em {
            font-style: normal;
        }
        .bigul li:last-of-type {
            padding-right: 7px;
        }
    }
}

.bigul .bigul_li {
    height: 36px;
    line-height: 36px;
    float: left;
    padding: 0 8px;
    position: relative;
    a:hover {
        color: white;
    }
    a {
        font-size: 12px;
        color: #afafaf;
    }
    span {
        font-size: 12px;
        color: #afafaf;
        cursor: pointer;
        padding-left: 4px;
    }
}

.small_li {
    line-height: 20px;
}

.bigul {
    li::before {
        content: "";
        width: 1px;
        height: 10px;
        position: absolute;
        top: 13px;
        left: -1px;
        background: #414141;
        ;
    }
    li:nth-of-type(1) {
        padding-left: 0;
    }
    li:nth-of-type(1)::before {
        width: 0px;
    }
}

.dropmenu:hover {
    background: white;
    span {
        color: #ca141d;
    }
    dl {
        display: block;
    }
}

.dropmenu dl {
    display: none;
    position: absolute;
    top: 36px;
    right: 0px;
    background-color: white;
    font-size: 12px;
    color: #777;
    z-index: 99;
    a:hover {
        color: #ca141d;
    }
}

.dropmenu {
    .hid_box1 {
        width: 119px;
        text-align: center;
    }
    .hid_box2 {
        width: 84px;
        text-align: center;
    }
    .hid_box3 {
        width: 893px;
    }
    .hid_box4 {
        width: 244px;
    }
    .hid_box5 {
        padding: 50px 0;
        text-align: center;
        width: 460px;
        height: 92px;
    }
}

.hid_box3 ul {
    li {
        width: 140px;
        float: left;
        margin: 20px 0 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .box3_01 {
            width: 60px;
            height: 60px;
            background: rgb(238, 238, 238);
            border-radius: 30px;
            margin: auto;
            display: flex;
            i {
                margin: auto;
                font-size: 30px;
            }
        }
        .box3_02 {
            margin: auto;
        }
        p {
            font-size: 16px;
            font-weight: 700;
            color: #2e2828;
        }
        .box3_03 {
            width: 100%;
            .box03_l {
                float: left;
                margin-right: 10px;
            }
            .box03_r {
                float: left;
            }
            em {
                display: block;
                color: rgb(95, 95, 95);
                margin-top: 4px;
            }
        }
    }
    li::before {
        width: 0;
    }
}

.hid_box4 dt {
    margin-top: 10px;
    width: 244px;
    height: 100px;
}

.hid_box4 dt .part1 {
    padding-left: 18px;
    img {
        width: 90px;
        height: 90px;
        margin-right: 12px;
        float: left;
    }
}

.hid_box4 dt .part2 {
    width: 100px;
    height: 90px;
    float: left;
}

.hid_box4 dt .part2 {
    line-height: 16px;
    p {
        line-height: 16px;
        color: #ca141d;
    }
    span {
        color: #414141;
    }
}

.part2 p:first-child {
    font-size: 14px;
    font-weight: bolder;
    color: #2e2828 !important;
}

.hid_box5 div .iconfont {
    font-size: 70px;
    color: #777;
    position: absolute;
    top: 34px;
    left: 10px;
}

.hid_box5 div {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
}

// header部分
#header {
    background-color: #fff;
    padding: 18px 0 15px 0;
}

.header_content {
    height: 41px;
}

.left_header {
    width: 754px;
    height: 41px;
    float: left;
    .txt2 {
        width: 86px !important;
    }
    .txt3 {
        width: 64px !important;
    }
}

.right_header {
    width: 240px;
    height: 36px;
    // background: yellowgreen;
    float: right;
    .searchbox {
        width: 240px;
        height: 30px;
        border-radius: 15px;
        overflow: hidden;
        margin-top: 3px;
        background: #eee;
        input {
            width: 185px;
            height: 30px;
            padding-left: 20px;
            background: #eee;
            border: 0;
            outline: none;
        }
    }
    .searchbox:hover {
        border: 1px solid #ccc;
    }
}

.left_header {
    div {
        float: left;
    }
    .pic1 {
        width: 205px;
        height: 41px;
        margin-right: 32px;
        img {
            height: 36px;
        }
    }
    .pic2,
    .pic3 {
        width: 74px;
        height: 24px;
        margin: 7px 24px 0 0;
    }
    .txt1,
    .txt2,
    .txt3 {
        width: 103px;
        margin-right: 20px;
        height: 40px;
        line-height: 40px;
        span {
            height: 17px;
            color: #333;
            font-size: 16px;
        }
         :hover {
            color: #ca141d;
        }
    }
}

.shortcut {
    width: 100%;
    font-size: 12px;
    background-color: #2e2828;
    height: 36px;
    padding: 0;
    .row {
        width: 1200px;
        margin: 0 auto;
        ul {
            list-style: none;
            li {
                height: 35px;
                line-height: 35px;
                margin: 0;
                a {
                    display: inline;
                    padding: 0 8px;
                    color: #afafaf;
                }
                a:hover {
                    background-color: #2e2828;
                    color: white;
                }
                span {
                    color: #414141;
                }
            }
            li:first-child {
                a {
                    padding: 0 8px 0 0;
                }
            }
        }
        .left {
            float: left;
            padding: 0;
        }
        .right {
            float: right;
            padding: 0;
        }
    }
}

.header {
    padding: 18px 0 15px;
    width: 100%;
    .row {
        width: 1200px;
        margin: 0 auto;
        .left {
            float: left;
            padding: 0;
            .logo {
                float: left;
                margin-right: 34px;
                img {
                    width: 205px;
                    height: 36px;
                }
            }
            ul {
                float: left;
                height: 40px;
                li {
                    margin-right: 24px;
                    img {
                        width: 74px;
                        height: 24px;
                        margin-bottom: 7px;
                    }
                    a {
                        color: #333;
                        font-size: 16px;
                        padding: 0px;
                        line-height: 40px;
                    }
                }
            }
        }
        .right {
            float: right;
            padding: 0;
            input {
                width: 205px;
                height: 30px;
                border-right: none;
                border-radius: 16px 0 0 16px;
                background-color: #f0f0f0;
            }
            .right {
                width: 35px;
                height: 30px;
                padding-right: 10px;
                border-left: none;
                .btn {
                    margin: 0;
                    padding: 3.8px 10px 3.8px 0px;
                    border-left: none;
                    border-radius: 0 16px 16px 0;
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

@mixin bannerleftmeun() {
    .piece1 {
        width: 242px;
        height: 440px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2 {
            width: 240px;
            height: 60px;
            margin-bottom: 5px;
            img {
                width: 44px;
                height: 46px;
                float: left;
                padding: 8px;
            }
            span {
                font-size: 16px;
                line-height: 60px;
                height: 60px;
                color: #666;
                font-weight: normal;
                display: block;
                float: left;
            }
        }
        h2:hover {
            background: rgb(240, 240, 240);
            border-radius: 8px;
        }
        .box01 {
            width: 140px;
            height: 40px;
            border: 1px solid #dfdfdf;
            border-radius: 20px;
            h4 {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                border: 1px solid #dfdfdf;
                border-top: 0;
                border-left: 0;
                border-bottom: 0;
                float: left;
                color: #666;
                position: relative;
                i {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
            }
            h5 {
                float: left;
                color: #999;
                font-size: 13px;
                height: 40px;
                line-height: 40px;
                padding-left: 20px;
            }
        }
    }
}

$w:200px;
.nav_main {
    .nav {
        width: $w;
        position: absolute;
        top: 18px;
        .nav_li {
            position: relative;
            li:hover {
                background: #fff;
                >div {
                    display: block;
                }
            }
        }
        .nav_li li {
            width: $w;
            height: 44px;
            background-color: #f8f8f8;
            >div {
                width: 484px;
                padding-left: 32px;
                position: absolute;
                top: 0px;
                left: $w;
                background: #fff;
                display: none;
            }
            .part_0 {
                width: 726px;
                @include bannerleftmeun();
            }
            .part_1 {
                width: 484px;
                @include bannerleftmeun();
            }
            .part_2 {
                width: $w;
                height: 440px;
            }
            p {
                color: #848484;
                ;
                width: 184px;
                line-height: 24px;
                padding: 10px 0 0 16px;
                position: relative;
                span:first-child:hover {
                    color: #ca141d;
                }
                span:last-child {
                    position: absolute;
                    top: 8px;
                    right: 15px;
                    font-size: 20px;
                }
            }
        }
    }
}

#product {
    width: 100%;
    .product {
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        position: relative;
        .product_left {
            width: 450px;
            height: 540px;
            float: left;
        }
        .product_right {
            width: 750px;
            height: 540px;
            float: left;
        }
    }
}

//左边
.product_left {
    /*放大镜样式*/
    .topdet_pic {
        width: 450px;
        height: 450px;
        box-sizing: border-box;
        border: 1px solid black;
        .fdj {
            background: orange;
            opacity: 0.4;
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            z-index: 999;
            cursor: move;
        }
        .spic {
            width: 450px;
            height: 450px;
            display: block;
        }
    }
    .leftarrow {
        font-size: 20px;
        color: red;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 61%;
        left: 10px;
        z-index: 999;
    }
    .rightarrow {
        font-size: 20px;
        color: red;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 61%;
        right: 63%;
        z-index: 999;
    }
    .botdet_pic {
        width: 450px;
        height: 68px;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 3px;
        ul {
            float: left;
            position: absolute;
            width: 900px;
            height: 68px;
            top: 0;
            left: 10px;
            li {
                width: 70px;
                height: 68px;
                margin-right: 20px;
                float: left;
            }
        }
    }
}

// 右边
.product_right {
    .jz {
        position: absolute;
        width: 450px;
        height: 450px;
        box-sizing: border-box;
        border: 1px solid black;
        margin-left: 20px;
        overflow: hidden;
        visibility: hidden;
        .bpic {
            width: 800px;
            height: 800px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .bottom_box {
        position: absolute;
        top: 450px;
        left: 500px;
        width: 400px;
        height: 68px;
        margin: 18px 0 0 18px;
        .amount {
            width: 68px;
            height: 68px;
            box-sizing: border-box;
            border: 1px solid black;
            float: left;
            .amount_left {
                width: 40px;
                height: 68px;
                float: left;
                // background: palegoldenrod;
                input {
                    width: 38px;
                    height: 66px;
                    outline: none;
                    border: 0;
                    text-align: center;
                }
            }
            .amount_right {
                height: 68px;
                width: 26px;
                float: left;
                span {
                    width: 26px;
                    height: 32px;
                    font-size: 20px;
                    border-left: 1px solid black;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                span:nth-of-type(1) {
                    display: block;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid black;
                    // border-left: 1px solid black;
                }
            }
        }
        .join {
            width: 120px;
            height: 68px;
            background: orange;
            margin-left: 20px;
            float: left;
            text-align: center;
            line-height: 68px;
            color: #fff;
            cursor: pointer;
        }
        .join_in {
            width: 120px;
            height: 68px;
            background: rgb(255, 60, 0);
            float: left;
            text-align: center;
            line-height: 68px;
            color: #fff;
            cursor: pointer;
        }
    }
}