@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

#top,
#header {
  width: 100%;
  background-color: #2e2828;
}

.top_content,
.header_content,
.nav_main,
.home_channel {
  width: 1200px;
  margin: auto;
}

.top_content {
  height: 36px;
}

.top_content .left_content {
  width: 547px;
  height: 36px;
  float: left;
}

.top_content .right_content {
  width: 472.7px;
  height: 36px;
  float: right;
}

.top_content .right_content em {
  font-style: normal;
}

.top_content .right_content .bigul li:last-of-type {
  padding-right: 7px;
}

.bigul .bigul_li {
  height: 36px;
  line-height: 36px;
  float: left;
  padding: 0 8px;
  position: relative;
}

.bigul .bigul_li a:hover {
  color: white;
}

.bigul .bigul_li a {
  font-size: 12px;
  color: #afafaf;
}

.bigul .bigul_li span {
  font-size: 12px;
  color: #afafaf;
  cursor: pointer;
  padding-left: 4px;
}

.small_li {
  line-height: 20px;
}

.bigul li::before {
  content: "";
  width: 1px;
  height: 10px;
  position: absolute;
  top: 13px;
  left: -1px;
  background: #414141;
}

.bigul li:nth-of-type(1) {
  padding-left: 0;
}

.bigul li:nth-of-type(1)::before {
  width: 0px;
}

.dropmenu:hover {
  background: white;
}

.dropmenu:hover span {
  color: #ca141d;
}

.dropmenu:hover dl {
  display: block;
}

.dropmenu dl {
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  background-color: white;
  font-size: 12px;
  color: #777;
  z-index: 99;
}

.dropmenu dl a:hover {
  color: #ca141d;
}

.dropmenu .hid_box1 {
  width: 119px;
  text-align: center;
}

.dropmenu .hid_box2 {
  width: 84px;
  text-align: center;
}

.dropmenu .hid_box3 {
  width: 893px;
}

.dropmenu .hid_box4 {
  width: 244px;
}

.dropmenu .hid_box5 {
  padding: 50px 0;
  text-align: center;
  width: 460px;
  height: 92px;
}

.hid_box3 ul li {
  width: 140px;
  float: left;
  margin: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hid_box3 ul li .box3_01 {
  width: 60px;
  height: 60px;
  background: #eeeeee;
  border-radius: 30px;
  margin: auto;
  display: flex;
}

.hid_box3 ul li .box3_01 i {
  margin: auto;
  font-size: 30px;
}

.hid_box3 ul li .box3_02 {
  margin: auto;
}

.hid_box3 ul li p {
  font-size: 16px;
  font-weight: 700;
  color: #2e2828;
}

.hid_box3 ul li .box3_03 {
  width: 100%;
}

.hid_box3 ul li .box3_03 .box03_l {
  float: left;
  margin-right: 10px;
}

.hid_box3 ul li .box3_03 .box03_r {
  float: left;
}

.hid_box3 ul li .box3_03 em {
  display: block;
  color: #5f5f5f;
  margin-top: 4px;
}

.hid_box3 ul li::before {
  width: 0;
}

.hid_box4 dt {
  margin-top: 10px;
  width: 244px;
  height: 100px;
}

.hid_box4 dt .part1 {
  padding-left: 18px;
}

.hid_box4 dt .part1 img {
  width: 90px;
  height: 90px;
  margin-right: 12px;
  float: left;
}

.hid_box4 dt .part2 {
  width: 100px;
  height: 90px;
  float: left;
}

.hid_box4 dt .part2 {
  line-height: 16px;
}

.hid_box4 dt .part2 p {
  line-height: 16px;
  color: #ca141d;
}

.hid_box4 dt .part2 span {
  color: #414141;
}

.part2 p:first-child {
  font-size: 14px;
  font-weight: bolder;
  color: #2e2828 !important;
}

.hid_box5 div .iconfont {
  font-size: 70px;
  color: #777;
  position: absolute;
  top: 34px;
  left: 10px;
}

.hid_box5 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
}

#header {
  background-color: #fff;
  padding: 18px 0 15px 0;
}

.header_content {
  height: 41px;
}

.left_header {
  width: 754px;
  height: 41px;
  float: left;
}

.left_header .txt2 {
  width: 86px !important;
}

.left_header .txt3 {
  width: 64px !important;
}

.right_header {
  width: 240px;
  height: 36px;
  float: right;
}

.right_header .searchbox {
  width: 240px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 3px;
  background: #eee;
}

.right_header .searchbox input {
  width: 185px;
  height: 30px;
  padding-left: 20px;
  background: #eee;
  border: 0;
  outline: none;
}

.right_header .searchbox:hover {
  border: 1px solid #ccc;
}

.left_header div {
  float: left;
}

.left_header .pic1 {
  width: 205px;
  height: 41px;
  margin-right: 32px;
}

.left_header .pic1 img {
  height: 36px;
}

.left_header .pic2,
.left_header .pic3 {
  width: 74px;
  height: 24px;
  margin: 7px 24px 0 0;
}

.left_header .txt1,
.left_header .txt2,
.left_header .txt3 {
  width: 103px;
  margin-right: 20px;
  height: 40px;
  line-height: 40px;
}

.left_header .txt1 span,
.left_header .txt2 span,
.left_header .txt3 span {
  height: 17px;
  color: #333;
  font-size: 16px;
}

.left_header .txt1 :hover,
.left_header .txt2 :hover,
.left_header .txt3 :hover {
  color: #ca141d;
}

.shortcut {
  width: 100%;
  font-size: 12px;
  background-color: #2e2828;
  height: 36px;
  padding: 0;
}

.shortcut .row {
  width: 1200px;
  margin: 0 auto;
}

.shortcut .row ul {
  list-style: none;
}

.shortcut .row ul li {
  height: 35px;
  line-height: 35px;
  margin: 0;
}

.shortcut .row ul li a {
  display: inline;
  padding: 0 8px;
  color: #afafaf;
}

.shortcut .row ul li a:hover {
  background-color: #2e2828;
  color: white;
}

.shortcut .row ul li span {
  color: #414141;
}

.shortcut .row ul li:first-child a {
  padding: 0 8px 0 0;
}

.shortcut .row .left {
  float: left;
  padding: 0;
}

.shortcut .row .right {
  float: right;
  padding: 0;
}

.header {
  padding: 18px 0 15px;
  width: 100%;
}

.header .row {
  width: 1200px;
  margin: 0 auto;
}

.header .row .left {
  float: left;
  padding: 0;
}

.header .row .left .logo {
  float: left;
  margin-right: 34px;
}

.header .row .left .logo img {
  width: 205px;
  height: 36px;
}

.header .row .left ul {
  float: left;
  height: 40px;
}

.header .row .left ul li {
  margin-right: 24px;
}

.header .row .left ul li img {
  width: 74px;
  height: 24px;
  margin-bottom: 7px;
}

.header .row .left ul li a {
  color: #333;
  font-size: 16px;
  padding: 0px;
  line-height: 40px;
}

.header .row .right {
  float: right;
  padding: 0;
}

.header .row .right input {
  width: 205px;
  height: 30px;
  border-right: none;
  border-radius: 16px 0 0 16px;
  background-color: #f0f0f0;
}

.header .row .right .right {
  width: 35px;
  height: 30px;
  padding-right: 10px;
  border-left: none;
}

.header .row .right .right .btn {
  margin: 0;
  padding: 3.8px 10px 3.8px 0px;
  border-left: none;
  border-radius: 0 16px 16px 0;
  background-color: #f0f0f0;
}

.nav_main .nav {
  width: 200px;
  position: absolute;
  top: 18px;
}

.nav_main .nav .nav_li {
  position: relative;
}

.nav_main .nav .nav_li li:hover {
  background: #fff;
}

.nav_main .nav .nav_li li:hover > div {
  display: block;
}

.nav_main .nav .nav_li li {
  width: 200px;
  height: 44px;
  background-color: #f8f8f8;
}

.nav_main .nav .nav_li li > div {
  width: 484px;
  padding-left: 32px;
  position: absolute;
  top: 0px;
  left: 200px;
  background: #fff;
  display: none;
}

.nav_main .nav .nav_li li .part_0 {
  width: 726px;
}

.nav_main .nav .nav_li li .part_0 .piece1 {
  width: 242px;
  height: 440px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav_main .nav .nav_li li .part_0 .piece1 h2 {
  width: 240px;
  height: 60px;
  margin-bottom: 5px;
}

.nav_main .nav .nav_li li .part_0 .piece1 h2 img {
  width: 44px;
  height: 46px;
  float: left;
  padding: 8px;
}

.nav_main .nav .nav_li li .part_0 .piece1 h2 span {
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  color: #666;
  font-weight: normal;
  display: block;
  float: left;
}

.nav_main .nav .nav_li li .part_0 .piece1 h2:hover {
  background: #f0f0f0;
  border-radius: 8px;
}

.nav_main .nav .nav_li li .part_0 .piece1 .box01 {
  width: 140px;
  height: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
}

.nav_main .nav .nav_li li .part_0 .piece1 .box01 h4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  float: left;
  color: #666;
  position: relative;
}

.nav_main .nav .nav_li li .part_0 .piece1 .box01 h4 i {
  position: absolute;
  left: 10px;
  top: 10px;
}

.nav_main .nav .nav_li li .part_0 .piece1 .box01 h5 {
  float: left;
  color: #999;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}

.nav_main .nav .nav_li li .part_1 {
  width: 484px;
}

.nav_main .nav .nav_li li .part_1 .piece1 {
  width: 242px;
  height: 440px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav_main .nav .nav_li li .part_1 .piece1 h2 {
  width: 240px;
  height: 60px;
  margin-bottom: 5px;
}

.nav_main .nav .nav_li li .part_1 .piece1 h2 img {
  width: 44px;
  height: 46px;
  float: left;
  padding: 8px;
}

.nav_main .nav .nav_li li .part_1 .piece1 h2 span {
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  color: #666;
  font-weight: normal;
  display: block;
  float: left;
}

.nav_main .nav .nav_li li .part_1 .piece1 h2:hover {
  background: #f0f0f0;
  border-radius: 8px;
}

.nav_main .nav .nav_li li .part_1 .piece1 .box01 {
  width: 140px;
  height: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
}

.nav_main .nav .nav_li li .part_1 .piece1 .box01 h4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  float: left;
  color: #666;
  position: relative;
}

.nav_main .nav .nav_li li .part_1 .piece1 .box01 h4 i {
  position: absolute;
  left: 10px;
  top: 10px;
}

.nav_main .nav .nav_li li .part_1 .piece1 .box01 h5 {
  float: left;
  color: #999;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}

.nav_main .nav .nav_li li .part_2 {
  width: 200px;
  height: 440px;
}

.nav_main .nav .nav_li li p {
  color: #848484;
  width: 184px;
  line-height: 24px;
  padding: 10px 0 0 16px;
  position: relative;
}

.nav_main .nav .nav_li li p span:first-child:hover {
  color: #ca141d;
}

.nav_main .nav .nav_li li p span:last-child {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 20px;
}

#product {
  width: 100%;
}

#product .product {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

#product .product .product_left {
  width: 450px;
  height: 540px;
  float: left;
}

#product .product .product_right {
  width: 750px;
  height: 540px;
  float: left;
}

.product_left {
  /*放大镜样式*/
}

.product_left .topdet_pic {
  width: 450px;
  height: 450px;
  box-sizing: border-box;
  border: 1px solid black;
}

.product_left .topdet_pic .fdj {
  background: orange;
  opacity: 0.4;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index: 999;
  cursor: move;
}

.product_left .topdet_pic .spic {
  width: 450px;
  height: 450px;
  display: block;
}

.product_left .leftarrow {
  font-size: 20px;
  color: red;
  cursor: pointer;
  float: left;
  position: absolute;
  top: 61%;
  left: 10px;
  z-index: 999;
}

.product_left .rightarrow {
  font-size: 20px;
  color: red;
  cursor: pointer;
  float: left;
  position: absolute;
  top: 61%;
  right: 63%;
  z-index: 999;
}

.product_left .botdet_pic {
  width: 450px;
  height: 68px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 3px;
}

.product_left .botdet_pic ul {
  float: left;
  position: absolute;
  width: 900px;
  height: 68px;
  top: 0;
  left: 10px;
}

.product_left .botdet_pic ul li {
  width: 70px;
  height: 68px;
  margin-right: 20px;
  float: left;
}

.product_right .jz {
  position: absolute;
  width: 450px;
  height: 450px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-left: 20px;
  overflow: hidden;
  visibility: hidden;
}

.product_right .jz .bpic {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
}

.product_right .bottom_box {
  position: absolute;
  top: 450px;
  left: 500px;
  width: 400px;
  height: 68px;
  margin: 18px 0 0 18px;
}

.product_right .bottom_box .amount {
  width: 68px;
  height: 68px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
}

.product_right .bottom_box .amount .amount_left {
  width: 40px;
  height: 68px;
  float: left;
}

.product_right .bottom_box .amount .amount_left input {
  width: 38px;
  height: 66px;
  outline: none;
  border: 0;
  text-align: center;
}

.product_right .bottom_box .amount .amount_right {
  height: 68px;
  width: 26px;
  float: left;
}

.product_right .bottom_box .amount .amount_right span {
  width: 26px;
  height: 32px;
  font-size: 20px;
  border-left: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product_right .bottom_box .amount .amount_right span:nth-of-type(1) {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.product_right .bottom_box .join {
  width: 120px;
  height: 68px;
  background: orange;
  margin-left: 20px;
  float: left;
  text-align: center;
  line-height: 68px;
  color: #fff;
  cursor: pointer;
}

.product_right .bottom_box .join_in {
  width: 120px;
  height: 68px;
  background: #ff3c00;
  float: left;
  text-align: center;
  line-height: 68px;
  color: #fff;
  cursor: pointer;
}
