* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

b,
strong {
  font-weight: 500;
}

a,
u {
  text-decoration: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

#header {
  height: 48px;
  background-color: #f2f2f2;
}

#header .contain {
  width: 1200px;
  margin: 0 auto;
}

#header .contain .logo {
  float: left;
  margin-top: 10px;
}

#header .contain .logo img {
  width: 108px;
  height: 24px;
}

#header .contain .title {
  float: left;
  margin-left: 10px;
}

#header .contain .title .split-line {
  color: #000000;
  line-height: 28px;
}

#header .contain .title .headtitle {
  line-height: 48px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

#main {
  width: 1200px;
  min-height: 700px;
  height: calc(100% - 158px);
  margin: 0 auto;
}

#main .nav {
  margin-top: 40px;
  float: left;
  border-bottom: 0px;
}

#main .nav li {
  width: 272px;
  height: 50px;
  float: none;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 0px;
}

#main .nav li a {
  display: block;
  border: none;
  color: #191919;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}

#main .nav li a .mobile-register {
  margin-right: 10px;
  vertical-align: middle;
}

#main .nav li a span {
  margin-right: 5px;
}

#main .nav li:hover {
  background-color: rgba(0, 125, 255, 0.1);
}

#main .nav .active {
  background-color: rgba(0, 0, 0, 0.05);
}

#main .tab-content {
  width: 960px;
  height: 789px;
  margin: auto;
}

#main .tab-content .tab-pane {
  padding: 60px 260px 38px;
}

#main .tab-content .tab-pane h2 {
  font-size: 32px;
  text-align: center;
  color: #000000;
}

#main .tab-content .tab-pane h3 {
  text-align: center;
  font-size: 18px;
  color: #000000;
}

#main .tab-content .tab-pane h3 a {
  color: #007dff;
}

#main .tab-content .tab-pane div {
  width: 442px;
  height: 50px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

#main .tab-content .tab-pane .cty-select {
  margin-top: 50px;
}

#main .tab-content .tab-pane .cty-select p {
  float: left;
  font-size: 14px;
  line-height: 50px;
  margin: 0 16px;
  color: #000000;
}

#main .tab-content .tab-pane .cty-select i {
  float: right;
  font-size: 14px;
  line-height: 50px;
  margin: 0 16px;
  color: #000000;
}

#main .tab-content .tab-pane .cty-select span {
  border-top: 6px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  line-height: 50px;
  margin: 0 16px 0 8px;
}

#main .tab-content .tab-pane .mobile-num p {
  float: left;
  font-size: 14px;
  line-height: 50px;
  margin: 0 16px;
  color: #000000;
}

#main .tab-content .tab-pane .mobile-num p span {
  border-top: 6px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  line-height: 50px;
  margin: 0 16px 0 8px;
}

#main .tab-content .tab-pane .mobile-num p i {
  font-size: 20px;
  margin: 0;
  color: rgba(0, 0, 0, 0.1);
  line-height: 50px;
}

#footer {
  height: 110px;
  background-color: #f7f7f7;
  font-size: 14px;
  padding: 20px;
}

#footer ul {
  text-align: center;
  margin-top: 10px;
}

#footer ul li:nth-child(odd) > a {
  color: black;
}

#footer ul .hr {
  color: #c2c2c2;
}

#footer p {
  line-height: 10px;
  text-align: center;
  color: #b7b7b7;
}
